# Postional Arguments

In [2]:
def student_information(class_name, student_name):
    print(student_name + " is enrolled in " + class_name + " class.")
student_information('Mathematics','Alice')

Alice is enrolled in Mathematics class.

In [3]:
def student_information(class_name, student_name):
    print(student_name + " is enrolled in " + class_name + " class.")
student_information(class_name='Mathematics', student_name='Alice')

Alice is enrolled in Mathematics class.

In [10]:
def enroll_student(student_name, course='Introduction to Python'):
    print("Student Name: " + student_name)
    print("Enrolled Course: " + course)
enroll_student(student_name='Lina')
enroll_student(student_name='Sara', course='Data Structures')

Student Name: Lina
Enrolled Course: Introduction to Python
Student Name: Sara
Enrolled Course: Data Structures

In [11]:
enroll_student('Ali')

Student Name: Ali
Enrolled Course: Introduction to Python

In [12]:
enroll_student('Ali,Physics')

Student Name: Ali,Physics
Enrolled Course: Introduction to Python

# Variable length Arguments *args

In [13]:
def enroll_in_courses(student_name, *courses):
    print("Student: " + student_name)
    print("Enrolled in:")
    for course in courses:
        print("- " + course)
enroll_in_courses('Emily', 'Biology 101', 'Chemistry 101', 'Physics 101')

Student: Emily
Enrolled in:
- Biology 101
- Chemistry 101
- Physics 101

# Variable length Arguements **kwargs

In [14]:
def enroll_student(student_name, **details):
    print("Enrolling " + student_name + " with the following details:")
    for detail, value in details.items():
        print("- " + detail.replace('_', ' ').title() + ": " + str(value))
enroll_student('Smith', course='Algebra II', semester='One', payment_method='Credit Card')

Enrolling Smith with the following details:
- Course: Algebra II
- Semester: One
- Payment Method: Credit Card

In [15]:
def enroll_student(student_name, **details):
    print("Enrolling " + student_name + " with the following details:")
    for key, value in details.items():
        print(key + '=' + value)

In [16]:
enroll_student('Smith', course='Algebra II', semester='One', payment_method='Credit Card')

Enrolling Smith with the following details:
course=Algebra II
semester=One
payment_method=Credit Card

In [41]:
def checkout_books(librarian_name,*book_titles,checkout_duration='2 weeks',**details):
    print('Checkout processed by: ' + librarian_name)
    print('Books checked out: ')
    for book in book_titles:
        print('-' + book)
    print('Checkout Duration: ' + checkout_duration)
    for key, value in details.items():
        print('-' + key + ':' + value) 
checkout_books('Mimi','1984','Brave New World', checkout_duration='3 weeks',latefee='$0.25', special_conditions='Handle with care')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1079757775.py, line 9)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3146991065.py, line 5)